body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100vw;
}

h1 {
  padding: 0px;
  font-size: 16px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #264653;
}

h2 {
  font-size: 18px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #ac2c2d;
  padding: -3px;
}

h3 {
  font-size: 12px;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #ac2c2d;
  border: solid;
  border-radius: 25px;
  padding: 7px;
}

table.detalle {
  border: 0px solid #656361;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.detalle td,
table.detalle th {
  border-bottom: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.detalle tbody td {
  padding: 8px;
  color: #333333;
}
table.detalle thead {
  font-size: 20px;
  background: #fff;
}
table.detalle thead th {
  font-size: 12px;
  font-weight: bold;
  color: #ac2c2d;
  border-bottom: 2px solid #ac2c2d;
}
table.detalle thead th:first-child {
  border-left: 2px solid #fff;
}

table.detalle tfoot {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background: #b4ddcd;
  background: -moz-linear-gradient(top, #c7e5d9 0%, #bbe0d2 66%, #b4ddcd 100%);
  background: -webkit-linear-gradient(
    top,
    #c7e5d9 0%,
    #bbe0d2 66%,
    #b4ddcd 100%
  );
  background: linear-gradient(to bottom, #c7e5d9 0%, #bbe0d2 66%, #b4ddcd 100%);
  border-top: 3px solid #f9ffff;
}
table.detalle tfoot td {
  font-size: 11px;
}
table.detalle tfoot .links {
  text-align: right;
}
table.detalle tfoot .links a {
  display: inline-block;
  background: #ac2c2d;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* popup hover prevision */

.prevision-pophover.leaflet-popup {
  position: absolute;
  width: fit-content;
  margin-bottom: 17px;
}

.prevision-pophover .leaflet-popup-content-wrapper {
  background: #14688f;
  color: #eee;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
}
.prevision-pophover .leaflet-popup-content-wrapper a {
  color: rgba(200, 200, 200, 0.1);
}
.prevision-pophover .leaflet-popup-tip-container {
  margin-top: -1px;
}
.prevision-pophover .leaflet-popup-tip {
  background: #14688f;
  color: #333;
  box-shadow: 0 3px 140px rgba(0, 0, 0, 0.4);
}

/* popup hover enejecucion */

.enejecucion-pophover.leaflet-popup {
  position: absolute;
  width: fit-content;
  margin-bottom: 17px;
}

.enejecucion-pophover .leaflet-popup-content-wrapper {
  background: #f5b800;
  color: #eee;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
}
.enejecucion-pophover .leaflet-popup-content-wrapper a {
  color: rgba(200, 200, 200, 0.1);
}
.enejecucion-pophover .leaflet-popup-tip-container {
  margin-top: -1px;
}
.enejecucion-pophover .leaflet-popup-tip {
  background: #f5b800;
  color: #333;
  box-shadow: 0 3px 140px rgba(0, 0, 0, 0.4);
}

/* popup hover finalizado */

.finalizado-pophover.leaflet-popup {
  position: absolute;
  width: fit-content;
  margin-bottom: 17px;
}

.finalizado-pophover .leaflet-popup-content-wrapper {
  background: #00a34f;
  color: #eee;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
}
.finalizado-pophover .leaflet-popup-content-wrapper a {
  color: rgba(200, 200, 200, 0.1);
}
.finalizado-pophover .leaflet-popup-tip-container {
  margin-top: -1px;
}
.finalizado-pophover .leaflet-popup-tip {
  background: #00a34f;
  color: #333;
  box-shadow: 0 3px 140px rgba(0, 0, 0, 0.4);
}

table.detalle {
  border: 0px solid #656361;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.detalle td,
table.detalle th {
  border-bottom: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.detalle tbody td {
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
}
table.detalle thead {
  background: #fff;
}
table.detalle thead th {
  font-size: 12px;
  font-weight: bold;
  color: #239684;
  border-bottom: 2px solid #239684;
}
table.detalle thead th:first-child {
  border-left: 2px solid #fff;
}

table.detalle tfoot {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background: #b4ddcd;
  background: -moz-linear-gradient(top, #c7e5d9 0%, #bbe0d2 66%, #b4ddcd 100%);
  background: -webkit-linear-gradient(
    top,
    #c7e5d9 0%,
    #bbe0d2 66%,
    #b4ddcd 100%
  );
  background: linear-gradient(to bottom, #c7e5d9 0%, #bbe0d2 66%, #b4ddcd 100%);
  border-top: 3px solid #f9ffff;
}
table.detalle tfoot td {
  font-size: 11px;
}
table.detalle tfoot .links {
  text-align: right;
}
table.detalle tfoot .links a {
  display: inline-block;
  background: #239684;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
